*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffffff
}

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#sliderDiv {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#slider {
  width: 75%;
}

#toolbar {
  display: flex;
  flex-flow: column;
  position: fixed;
  height: calc(100vh - 70px);
  width: 150px;
  top: 70px;
  row-gap: 1rem;
  align-items: center;
  background-color: #212529;
  overflow: hidden;
  padding-top: 2rem;
}

#main {
  margin-top: 70px;
  margin-left: 150px;
  width: calc(100vw - 350px);
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-align: center;
  line-height: 1.2;
}

#radioDiv>div {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#radioDiv>div>input {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25rem;
}

fieldset {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  border: unset;
}

fieldset>div {
  margin-left: 2rem;
}

#defaultCanvas0 {
  border: 2px solid #dadada;
  border-width: 3px;
}

#defaultCanvas0.focused {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.sidebar {
  display: flex;
  flex-flow: column;
  position: fixed;
  height: calc(100vh - 70px);
  width: 200px;
  top: 70px;
  left: calc(100vw - 200px);
  align-items: center;
  background-color: #212529;
  overflow: hidden;
}

#undo{
  width: 6rem;
  height: 38px;
}

#redo{
  width: 6rem;
  height: 38px;
}